.webapp__course {
    display: flex;
    flex-direction: column;
}
.webapp__course-title {
    flex: 0.25;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}
.webapp__course-title h2{
    text-align: center;
    font-family: var(--font-family);
    color: var(--color-main);
    font-size: 40px;
    line-height: 55px;
}
.webapp__course-container {
    flex: 1.75;
    display: flex;
    flex-wrap: wrap;
}