.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 70px;
  background-color: #ff4820;
  color: #fff;
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

}

.booking:hover {
  letter-spacing: 0.08rem;
  box-shadow: 2px 2px #ff3520;
 
}