.webapp__diveright {
  width: 100%;
  display: flex;
  flex-direction:row-reverse;
  justify-content: center;
  align-items: flex-end;
  gap: 2;
}

.webapp__diveright-img {
  flex: 0.4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 550px;
  height: auto;
  


}

.webapp__diveright-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0  2rem 0 0;

}

.webapp__diveright-content h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-subtitle);
  color: var(--color-main);
  font-weight: 500;
  letter-spacing: 0.04rem;
  word-spacing: 0.5rem;
  margin-bottom: 1rem;

}

.webapp__diveright-content p{
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--font-family);
  font-weight: 200;
  letter-spacing: 0.04rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1150px) {
  .webapp__diveright-img {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 950px) {
  .webapp__diveright {
    flex-direction: column;
    align-items: center;
  }
  
  .webapp__diveright-img {
    width: 500px;
  }
}
@media screen and (max-width: 650px) {
  .webapp__diveright-img {
    width: 250px;
  }

  .webapp__diveright-content {
    padding: 0;
  }
}
