.carousel-container {
  width: 100%;
  height: 290px;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  object-fit: cover;
  
}

.carousel-image.hide {
  opacity: 0;
}

.carousel-image.hide ~ .carousel-image {
  opacity: 1;
}

.carousel-image.hide ~ .carousel-image ~ .carousel-image {
  opacity: 0;
}

@media screen and (max-width: 950px) {
  .carousel-container {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
  }
}