.webapp__diveleft {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2;
 }

.webapp__diveleft-img {
  flex: 0.4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 600px;
  height: auto;
  /* margin-right:3rem; */
  /* margin-left: -3rem; */
}

.webapp__diveleft-img img{
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
 
}

.webapp__diveleft-img img:last-child{
  position:relative ;
  z-index: 2;
  margin-top: 7rem;
  margin-left: -7rem;
 
}

.webapp__diveleft-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0  0 0 12rem;

}

.webapp__diveleft-content h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-subtitle);
  color: var(--color-main);
  font-weight: 500;
  letter-spacing: 0.04rem;
  word-spacing: 0.5rem;
  margin-bottom: 1rem;

}

.webapp__diveleft-content p{
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--font-family);
  /* color: var(--color-main); */
  font-weight: 200;
  letter-spacing: 0.04rem;
  /* margin-left: 10rem; */
  margin-bottom: 1rem;
}

@media screen and (max-width: 550px) {
  .webapp__diveleft {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    
    
   }

   .webapp__diveleft-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }

  .webapp__diveleft-content {
   
    padding: 0;
  
  }
 .webapp__diveleft-img img:last-child{
  position:relative ;
  z-index: 0;
  margin: 0;
  display: none;

}
}